body{
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Architects Daughter, sans-serif;
	font-size: 3vh;
	color: red;
	text-align: center;
	padding-bottom: .5em;
	padding-top: .5em;
}

.tv{
	height: 10%;
	width:10%;
	left: 50%;
	top: 49%;
	-ms-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
}

.screen{
	color: yellow;
	background-color: #2366AC;
	z-index: 100;
	left:50%;
   	top:50%;
   	-ms-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
  /*  border-style:solid;
	border-width: 1px;
	border-color: yellow;*/
	font-size: 3vh;
}

ul{
	padding-left: 11vh;
	text-align: left;
	padding-top: 3vh;
}

.button{
	margin-top: 4vh;
	color: yellow;
	font-size: 3vh;
	background: #176162;
    background-image: -webkit-linear-gradient(top, #176162, #176162);
    background-image: -moz-linear-gradient(top, #176162, #176162);
    background-image: -ms-linear-gradient(top, #176162, #176162);
    background-image: -o-linear-gradient(top, #176162, #176162);
    background-image: linear-gradient(to bottom, #176162, #176162);
	-webkit-border-radius: 2vh;
	-moz-border-radius: 2vh;
	border-radius: 2vh;
	font-family: Architects Daughter;
	padding: .5vh 2vh .5vh 2vh;
	text-decoration: none;
	border: solid #000000 2px;
}

.button:hover {
	background: #0f3d3d;
    background-image: -webkit-linear-gradient(top, #0f3d3d, #0f3d3d);
    background-image: -moz-linear-gradient(top, #0f3d3d, #0f3d3d);
    background-image: -ms-linear-gradient(top, #0f3d3d, #0f3d3d);
    background-image: -o-linear-gradient(top, #0f3d3d, #0f3d3d);
    background-image: linear-gradient(to bottom, #0f3d3d, #0f3d3d);
    text-decoration: none;
}

input[type=radio]{
	width:2vh;
	height:2vh;
} 

.count{
	text-align: right;
	z-index: 200;
	margin-top: -4vh;
	margin-right: 2vh;

}

.burns{
	height: 90%;
	width: auto;
	margin-left: -20vh;
	z-index: 20;
}

#startbutton{
	z-index: 500;
	margin-top: -5vh;
	margin-left: -15vh;
}

.score{
	font-size: 10vh;
}