body{
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Shadows Into Light;
	font-size: 5em;
	color: red;
	text-align: center;
	padding-bottom: .5em;
	padding-top: .5em;
}

.tv{
	height: 100%;
	width:100%;
	left: 50%;
	top: 50%;
	background-image: url("../images/simpsons_tv.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.question{
	font-size: 4vh;
	color: yellow;
	background-color: #2366AC;
	z-index: 100;
	width: 45%;
	height:25%;
	left:45.5%;
   	top:57%;
   	-ms-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
}