body{
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Shadows Into Light;
	font-size: 5em;
	color: red;
	text-align: center;
	padding-bottom: .5em;
	padding-top: .5em;
}

.tv{
	height: 10%;
	width:10%;
	left: 50%;
	top: 49%;
	-ms-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
}

.question{
	color: yellow;
	background-color: #2366AC;
	z-index: 100;
	left:50%;
   	top:50%;
   	-ms-transform: translate(-50%, -50%);
  	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
    border-style:solid;
	border-width: 1px;
	border-color: yellow;
	font-size: 3vh;
}
